.inputBackground(){
    background-color: rgba(0, 0, 0, 0.8);
}

.visibility(@visibility : hidden){
    visibility: @visibility;
    -webkit-backface-visibility: @visibility;
    -moz-backface-visibility: @visibility;
    backface-visibility: @visibility;
}

.transformTranslate(@value: 0){
    -webkit-transform: translateX(@value) translateY(@value);
    -moz-transform: translateX(@value) translateY(@value);
    -ms-transform: translateX(@value) translateY(@value);
    transform: translateX(@value) translateY(@value);
}

.transformScale(@value: 0){
    -webkit-transform: scale(@value);
    -moz-transform: scale(@value);
    -ms-transform: scale(@value);
    transform: scale(@value);
}

.transition(@transition: all, @value: 0){
    -webkit-transition: @transition @value;
    -moz-transition: @transition @value;
    transition: @transition @value;
}

.backgroundColor(@color: #000){
    background-color: @color;
}
