@import '../../bower_components/Eric-Meyer-Reset---less--/reset-eric.less';
@import './colors';
@import './resources';

html
{
    font-family: Arial;

    box-sizing: border-box;
    height: 100%;

    color: @white;
    background: #43cea2;
    background: -webkit-linear-gradient(right, #43cea2, #185a9d);
    background:      -o-linear-gradient(right, #43cea2, #185a9d);
    background:         linear-gradient(to left, #43cea2, #185a9d);
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    font-family: 'Helvetica Neue', Arial, sans-serif;

    position: relative;

    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
}

header
{
    width: 100%;
    height: 120px;
    padding: 2em 0 0 0;

    text-align: center;
    h1
    {
        width: 100%;
        a.logo
        {
            display: block;

            width: 300px;
            height: 96px;
            margin: 0 auto;

            text-indent: -99999em;

            background-image: url('../images/logo.png');
        }
    }
}

section.content
{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    text-align: center;
    div.controls
    {
        padding: 3em 1em;

        border: none;
        border-top: solid 1px rgba(255, 255, 255, .5);
        border-bottom: solid 1px rgba(255, 255, 255, .5);
        h2
        {
            font-size: 1.4em;

            margin-bottom: 20px;
        }
        .input-control
        {
            display: inline-table;

            width: 22%;
            margin-right: 4px;
            &.origin
            {
                margin-left: 10%;
            }
            label
            {
                font-size: .8em;

                display: block;

                margin-bottom: .3em;

                text-align: left;
                text-indent: 1em;
            }
            .input-box
            {
                display: block;
                input
                {
                    font-size: 1.4em;

                    float: left;

                    width: 66%;
                    padding: .3em;

                    text-align: center;

                    color: @white;
                    border: none;
                    background: none;

                    .inputBackground();
                }
                .input-button
                {
                    line-height: 30px;

                    display: block;
                    float: right;

                    width: 30px;
                    height: 30px;
                    margin: 5px 0 0 0;
                }
            }
        }
    }
    div.results
    {
        padding: 3em 0;
        .plan
        {
            display: inline-block;

            width: 22.4%;
            padding: .3em;

            border: none;
            border-right: solid 1px rgba(255, 255, 255, .4);
            &:last-child
            {
                border-right: none;
            }
            p
            {
                color: @lightGray;
                span.value
                {
                    font-size: 2em;
                    span
                    {
                        float: left;
                    }
                    small
                    {
                        font-size: .4em;
                    }
                }
            }
        }
    }
}



footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 1rem;
    p
    {
        display: block;

        width: 100%;

        text-align: center;
    }
}


/** modal window styles */

.md-modal
{
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 50%;

    width: 50%;
    min-width: 320px;
    max-width: 630px;
    height: auto;

    .visibility(hidden);
    .transformTranslate(@value: -50%);
    &.md-show
    {
        visibility: visible;
    }
    &.md-effect-just-me
    {
        .md-content
        {
            opacity: 0;

            .transformScale(.8);
            .transition(all, .3s);
        }
        &.md-show
        {
            .md-content
            {
                opacity: 1;

                .transformScale(1);
            }
        }
    }
    .md-content
    {
        position: relative;

        margin: 0 auto;

        color: @white;
        border-radius: 3px;

        .backgroundColor(rgba(0, 0, 0, .8));
        h3
        {
            font-size: 2.4em;
            font-weight: 300;

            margin: 0;
            padding: .4em;

            text-align: center;

            opacity: .8;
            border-radius: 3px 3px 0 0;

            .backgroundColor(rgba(0, 0, 0, .8));
        }
        div
        {
            font-size: 1.15em;
            font-weight: 300;

            margin: 0;
            padding: 15px 40px 30px;
            ul
            {
                margin: 0;
                padding: 0 0 30px 20px;
                li
                {
                    padding: 5px 0;
                    a
                    {
                        display: block;

                        padding: 5px;

                        color: @white;

                        .backgroundColor(none);
                        &:hover
                        {
                            .backgroundColor(rgba(255, 255, 255, .5));
                            .transition(all, 1s);
                        }
                    }
                }
            }
        }
    }
}

.md-overlay
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    opacity: 0;

    .backgroundColor(rgba(143,27,15,.8));
    .transition(all, .3s);
}

.md-show ~ .md-overlay
{
    visibility: visible;

    opacity: 1;
}


.md-show.md-effect-just-me ~ .md-overlay
{
    .backgroundColor(rgba(0, 0, 0, .7));
}
